@value values: "./values.module.css";
@value titleFont, lineHeight, primaryColor, buttonBackground, marginExtra, buttonBackground from values;

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../public/assets/bg-image.png);
  background-repeat: no-repeat;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description {
  width: 50vw;
  color: white;
  font-size: titleFont;
  line-height: lineHeight;
  text-align: center;
  margin-bottom: marginExtra;
}

.button {
  border: .2rem solid primaryColor;
  border-radius: .7rem; 
  padding: 1rem 2rem; 
  color: primaryColor;
  background-color: buttonBackground; 
}
