@value values: "../styles/values.module.css";
@value titleFont, lineHeight, primaryColor, buttonBackground, marginExtra from values;

.content {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description {
  width: 50vw;
  color: white;
  font-size: titleFont;
  line-height: lineHeight;
  text-align: center;
  margin-bottom: marginExtra;
}

.nextButton {
  composes: button from "../styles/action.module.css";
}