@value values: "../../styles/values.module.css";
@value placeholderFont, bodyFont, primaryColor, marginSmall, darkBackground from values;


.container {
  min-height: 100vh;
  min-width: 100vw;
  background-image: url(/assets/bricks.webp);  
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
}

.container::after {
  content: "";
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
  background: darkBackground;
}

.information {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  
.title {
  color: primaryColor;
  font-size: placeholderFont;
  padding: 1rem;
}
  
.description {
  font-size: bodyFont;
  color: white;
  padding-left: 2rem;
  padding-bottom: 1rem;
  text-align: center;
}

.messageContainer {
  margin: marginSmall;
  border: .5rem solid primaryColor;
  border-radius: 2rem;
  min-width: 30vw;
  min-height: 20vh;
}

.message {
  padding: marginSmall;
}