@value values: "../styles/values.module.css";
@value marginLarge, titleFont, lineHeight, buttonBackground from values;

.display {
    display: grid;
    grid-template-columns: repeat(2, 50vw);
}

.liquor {
    grid-column: 1; 
    place-self: center;
    position: relative;
    top: -5rem;
}

.soda {
    grid-column: 2; 
    place-self: center;
    position: relative;
    top: -5rem;
}

.button {
    background: none;
    border: none;
}

.button:active {
    background: buttonBackground;
}

.information {
    composes: information from "../styles/action.module.css";
}

.description {
    composes: description from "../styles/action.module.css";
}

.buttonDisplay {
    display: flex; 
    justify-content: center;
}

.nextButton {
    composes: button from "../styles/action.module.css";
}