.display {
    display: grid;
    grid-template-columns: repeat(2, 50vw);
}

.liquor {
    grid-column: 1; 
    place-self: center;
    position: relative;
    top: -5rem;
}

.soda {
    grid-column: 2; 
    place-self: center;
    position: relative;
    top: -5rem;
}

.button {
    background: none;
    border: none;
}

.information {
    composes: information from "../styles/action.module.css";
}

.description {
    composes: description from "../styles/action.module.css";
}

.nextButton {
    composes: button from "../styles/action.module.css";
}

.nextButton:active {
    border: .4rem solid primaryColor;
    background-color: darkBackground;
}