@value values: "../styles/values.module.css";
@value primaryColor, buttonBackground, titleFont, lineHeight, marginSmall, marginLarge, buttonBackground from values;

.overview {
    width: 100vw;
    grid-row: 2;
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.information {
    margin-bottom: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description {
    width: 50vw;
    color: white;
    font-size: titleFont;
    line-height: lineHeight;
    text-align: center;
    margin-bottom: marginLarge;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.back {
    display: flex; 
    justify-content: center;
    margin-bottom: marginLarge;
}

.backButton {
    composes: button from "../styles/action.module.css";    
}

.drinkImage {
    margin: marginLarge;
    position: relative; 
    top: -10rem;
}

.bottleImage {
    margin: marginLarge;
    position: relative;
    top: -17rem;
}

.form {
    display: flex; 
    flex-direction: column; 
}

.shot {
    display: flex; 
    align-self: flex-end;
    margin-bottom: calc(marginLarge * 2);
    justify-content: center;
}

.overlay {
    width: 10rem;
    height: 15rem;
    background-color: rgba(255, 0, 0, 0.8);
    position: relative;
}

.button {
    background: none;
    border: none;
}

.button:active {
    background: buttonBackground;
}

.description {
    width: 50vw;
    color: white;
    font-size: titleFont;
    line-height: lineHeight;
    text-align: center;
}