@value values: "../styles/values.module.css";
@value primaryColor, darkBackground, marginLarge from values;

.overview {
    width: 100vw;
    grid-row: 2;
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    margin-top: marginLarge;
}

.description {
    composes: description from "../styles/action.module.css";
  }

.information {
    composes: information from "../styles/action.module.css";
}

.backButton {
    composes: button from "../styles/action.module.css";    
}

.backButton:active {
    border: .4rem solid primaryColor;
    background-color: darkBackground;
}

.drinkImage {
    margin: marginLarge;
    position: relative; 
    top: -10rem;
}

.bottleImage {
    margin: marginLarge;
    position: relative;
    top: -17rem;
}

.shot {
    display: flex; 
    align-self: flex-end;
    margin-bottom: calc(marginLarge * 2);
    justify-content: center;
}

.button {
    background: none;
    border: none;
}