@value values: "../styles/values.module.css";
@value titleFont, placeholderFont, primaryColor, marginSmall, marginRegular, darkBackground from values;

.container {
    padding: marginRegular;
    background-color: darkBackground;
    border-radius: 2rem;
    margin: 0 auto;
    margin-top: 10rem;
    max-width: 40vw;
}

.mail {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

.input {
    margin-top: marginSmall;
    color: white;
    width: 30vw;
    background: darkBackground;
    padding: .5rem;
}

.label {
    margin: marginSmall;
    color: white;
    font-size: placeholderFont;
    text-align: center;
}

.title {
    color: primaryColor; 
    font-size: titleFont;
    margin-bottom: marginSmall;
    text-align: center;
}

.submitButton {
    composes: button from "../styles/action.module.css";
}

.submitButton:active {
    border: .4rem solid primaryColor;
    background-color: darkBackground;
}