@value values: "../styles/values.module.css";
@value placeholderFont, bodyFont, lineHeight, primaryColor, lightBackground, marginSmall from values;


.container {
  display: grid; 
  grid-template-columns: 25vw 50vw 25vw;
  grid-template-rows: 25vh 75vh; 
}

.image {
  grid-row: 1 / span 2;
  grid-column: 2;
  place-self: center;
  margin-bottom: 10vh;
}

.content {
  grid-row: 2;
  grid-column: 3;
  display: flex;
  flex-direction: column;
  background-color: lightBackground;
  padding: marginSmall;
  place-self: flex-start;
  border-radius: 2.5rem;
}
  
.subtitle {
  color: primaryColor;
  font-size: placeholderFont;
  padding: 1rem;
}
  
.item {
  font-size: bodyFont;
  padding-left: 2rem;
  padding-bottom: 1rem;
}

.messageContainer {
  margin: marginSmall;
  border: .5rem solid primaryColor;
  border-radius: 2rem;
  min-width: 20vw;
  min-height: 20vh;
  overflow: scroll;
}

.message {
  padding: marginSmall;
  font-size: bodyFont; 
  line-height: calc(lineHeight/2);
}