@value values: "../styles/values.module.css";
@value placeholderFont, primaryColor, marginSmall, marginRegular, marginExtra, buttonBackground from values;

.information {
    composes: information from "../styles/action.module.css";
}

.description {
    composes: description from "../styles/action.module.css";
}

.content {
    width: 100vw;
    grid-row: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.glassOverview {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    top: -5rem;
}

.glassButton {
    display: flex; 
    flex-direction: column;
    margin: marginRegular marginExtra; 
    margin-bottom: marginRegular;
}

.radioButton { 
    position: absolute;
    opacity: 0;
    width: 20rem;
    height: 20rem;
    z-index: 9;
}
  
.radioButton:checked + .label {
    background-color: buttonBackground;
    padding: 1rem;
    border-radius: .5rem;
}

.label {
    color: primaryColor;
    font-size: placeholderFont;
    text-align: center;
    margin-top: marginSmall;
    padding: 1rem;
}