@value values: "../styles/values.module.css";
@value placeholderFont, primaryColor, marginSmall, marginRegular, buttonBackground from values;

.container {
    grid-row: 2;
    display: grid; 
    grid-template-columns: 50vw 50vw;
}

.description {
    composes: description from "../styles/action.module.css";
}

.information {
    composes: information from "../styles/action.module.css";
}

.glass {
    grid-column: 1; 
    display: flex; 
    justify-content: center;
}

.content {
    width: 50vw;
    grid-column: 2;
}

.extraOverview {
    display: flex; 
    flex-direction: row;
    justify-content: center;
}

.hidden {
    display: none;
}

.checkbox { 
    position: absolute;
    opacity: 0;
    width: 10rem;
    height: 10rem;
    /* z-index: 9; */
}

.extraImage {
    padding: 1rem;
    display: flex;
    place-self: center;
}

.extraOverview {
    display: grid; 
    grid-template-rows: repeat(2, 10rem);
    grid-template-columns: repeat(2, 10rem);
    grid-gap: 2.5rem;
}

.extraButton {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    composes: button from "../styles/action.module.css";
    display: flex; 
    place-self: center;
}