@value values: "../styles/values.module.css";
@value placeholderFont, primaryColor, marginSmall, marginRegular, marginExtra, buttonBackground from values;

.content {
    width: 100vw;
    grid-row: 2;
    display: flex; 
    flex-direction: column;
    justify-content: center;
}

.extraOverview {
    display: flex; 
    flex-direction: row;
    justify-content: center;
}

.hidden {
    display: none;
}

.checkbox { 
    position: absolute;
    opacity: 0;
    width: 10rem;
    height: 10rem;
    z-index: 9;
}
  
.checkbox:checked + .extraImage {
    background-color: buttonBackground;
    padding: 1rem;
    border-radius: .5rem;
}

.extraImage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

.extraOverview {
    display: flex; 
    flex-direction: row;
    justify-content: center;
}

.extraButton {
    display: flex; 
    flex-direction: column;
    margin: marginRegular marginExtra; 
    margin-bottom: marginRegular;
}

.button {
    composes: button from "../styles/action.module.css";
    display: flex; 
    place-self: center;
}