@value values: "../styles/values.module.css";
@value placeholderFont, buttonFont, bodyFont, primaryColor, buttonBackground, marginSmall from values;

.container {
  max-height: 100vh;
  display: grid; 
  grid-template-columns: 70vw 30vw;
  grid-template-rows: 20vh 70vh 10vh;
  background-image: url(../public/assets/counter.webp),
  url(../public/assets/bricks.webp);             
  background-size: 100vw, cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.hidden {
    display: none;
}

.title {
  grid-row: 1;
  grid-column: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.overview {
  margin: marginSmall;
  background: buttonBackground;
  border-radius: 1rem;
}

.content {
  display: flex; 
  flex-direction: column; 
  justify-content: flex-start;
  align-items: flex-start;
}

.subtitle {
  color: primaryColor;
  font-size: placeholderFont;
  padding: 1rem;
}

.item {
  font-size: bodyFont;
  padding-left: 2rem;
  padding-bottom: 1rem;
}

.main {
  grid-row: 2;
  grid-column: 1/ span 2;
}