@value values: "../styles/values.module.css";
@value titleFont, placeholderFont, primaryColor, marginSmall, marginLarge, marginRegular, buttonBackground from values;

.container {
    display: grid;
    grid-template-columns: 30vw 50vw 10vw;
    grid-template-rows: 20vh 80vh; 
    margin: marginLarge;
    padding: marginRegular;
    background-color: rgba(0, 0, 0, 0.500);
    border-radius: 2rem;
}

.intro {
    grid-row: 1;
    grid-column: 1 / span 2; 
    display: flex; 
    flex-direction: column;
    align-items: center;
}
.title {
    color: primaryColor; 
    font-size: titleFont;
    margin-bottom: marginSmall;
}

.description {
    width: 50vw;
    color: white;
    font-size: placeholderFont;
    line-height: lineHeight;
    text-align: center;
    margin-bottom: marginLarge;
}