@value values: "../styles/values.module.css";
@value titleFont, bodyFont, lineHeight, placeholderFont, primaryColor, marginSmall, marginLarge, marginRegular, darkBackground from values;

.container {
    display: grid;
    grid-template-columns: 30vw 50vw 10vw;
    grid-template-rows: 30vh 70vh; 
    margin: marginLarge;
    padding: marginRegular;
    background-color: darkBackground;
    border-radius: 2rem;
}

.mail {
    grid-column: 1/ span 2;
    grid-row: 1;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
}

.input {
    margin-top: marginSmall;
    color: white;
    width: 30vw;
    background: darkBackground;
    padding: .5rem;
}

.information {
    margin: marginSmall;
    color: white;
    font-size: placeholderFont;
    display: flex; 
    flex-direction: column;
}

.intro {
    grid-row: 1;
    grid-column: 1 / span 2; 
    display: flex; 
    flex-direction: column;
    align-items: center;
    margin-bottom: marginLarge;
}

.title {
    color: primaryColor; 
    font-size: titleFont;
    margin-bottom: marginSmall;
}

.transcript {
    width: 50vw;
}

.info {
    font-size: bodyFont;
    color: white;
    margin-bottom: marginRegular;
}

.info span {
    text-decoration: underline;
    color: primaryColor;
}

.message {
    color: white; 
    font-size: placeholderFont; 
    line-height: lineHeight; 
}
.description {
    width: 50vw;
    color: white;
    font-size: placeholderFont;
    line-height: lineHeight;
    text-align: center;
    margin-bottom: marginSmall;
}

.submitButton {
    composes: button from "../styles/action.module.css";
}

.submitButton:active {
    border: .4rem solid primaryColor;
    background-color: darkBackground;
}

.speech {
    grid-row: 2;
    grid-column: 1 / span 2;
    display: flex; 
    flex-direction: row; 
}

.controls {
    display: flex; 
    flex-direction: column;
    margin-left: marginRegular;
}