@value values: "../../styles/values.module.css";
@value titleFont, lineHeight, primaryColor, secondaryColor, buttonBackground, marginSmall, marginLarge from values;

.container {
    min-height: 100vh;
    display: grid; 
    grid-template-columns: repeat(3, 33vw);
    grid-template-rows: 40vh 60vh;
    z-index: -2;
    background-image: url(../../public/assets/counter.png),
    url(../../public/assets/bricks.png);             
    background-size: 100vw, cover;
    background-repeat: no-repeat;
}

.hidden {
    display: none;
}

.context {
    grid-row: 1;
    grid-column: 2; 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.question {
    width: 50vw;
    color: secondaryColor;
    font-size: titleFont;
    line-height: lineHeight;
    text-align: center;
    margin-top: marginLarge;
    margin-bottom: marginSmall;
}

.button {
    border: .2rem solid primaryColor;
    border-radius: .7rem; 
    padding: 1rem 2rem; 
    color: primaryColor;
    background-color: buttonBackground; 
}