@value values: "../styles/values.module.css";
@value primaryColor, buttonBackground, marginSmall, marginLarge, buttonBackground from values;

.overview {
    width: 100vw;
    grid-row: 2;
    display: flex; 
    flex-direction: row;
    justify-content: center;
}

.back {
    position: relative;
    top: -5rem;
    left: -5rem;
}

.buttonBack {
    border: .2rem solid primaryColor;
    border-radius: .7rem; 
    padding: 1rem 2rem; 
    color: primaryColor;
    background-color: buttonBackground; 
}

.drinkImage {
    place-self: center;
    margin: marginLarge;
    position: relative;
    bottom: marginLarge;
}

.form {
    display: flex; 
    flex-direction: column; 
}

.submitButton {
    margin-top: marginSmall;
    border: .2rem solid primaryColor;
    border-radius: .7rem; 
    padding: 1rem 2rem; 
    color: primaryColor;
    background-color: buttonBackground; 
}

.button {
    background: none;
    border: none;
}

.button:active {
    background: buttonBackground;
}