@value values: "../styles/values.module.css";
@value primaryColor, buttonBackground, marginSmall, marginLarge, buttonBackground from values;

.overview {
    width: 100vw;
    grid-row: 2;
    display: flex; 
    flex-direction: row;
    justify-content: center;
}

.back {
    display: flex; 
    justify-content: center;
    margin-bottom: marginLarge;
}

.backButton {
    composes: button from "../styles/action.module.css";    
}

.drinkImage {
    margin: marginLarge;
    position: relative; 
    top: -10rem;
}

.bottleImage {
    margin: marginLarge;
    position: relative;
    top: -17rem;
}

.form {
    display: flex; 
    flex-direction: column; 
}

.submitButton {
    composes: button from "../styles/action.module.css";
    margin-top: marginSmall;
}

.button {
    background: none;
    border: none;
}

.button:active {
    background: buttonBackground;
}