@value values: "../styles/values.module.css";
@value placeholderFont, primaryColor, marginSmall, marginRegular, marginExtra, buttonBackground from values;

.counter {
    width: 100vw;
    grid-row: 2;
}

.hidden {
    display: none;
}

.radioButton { 
    position: absolute;
    opacity: 0;
    width: 20rem;
    height: 20rem;
}
  
.radioButton:checked + .glassImage {
    background-color: buttonBackground;
}

.glassImage {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.label {
    color: primaryColor;
    font-size: placeholderFont;
    text-align: center;
    position: relative; 
    top: -5rem;
}

.glassOverview {
    display: flex; 
    flex-direction: row;
    justify-content: center;
}

.glassButton {
    display: flex; 
    flex-direction: column;
    margin: marginRegular marginExtra; 
    margin-bottom: marginRegular;
}

.button {
    border: .2rem solid primaryColor;
    border-radius: .7rem; 
    padding: 1rem 2rem; 
    color: primaryColor;
    background-color: buttonBackground; 
    margin-left: 90vw;
}