.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../public/assets/bricks.png);
  background-repeat: no-repeat;
}

.hidden {
    display: none;
}