.container {
    min-height: 100vh;
    overflow: hidden;
    display: grid; 
    grid-template-columns: 50vw 50vw; 
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    /* background-image: url(../public/assets/bg-image.webp);
    background-repeat: no-repeat; */
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 1 / span 2;
    position: absolute;
    top: 40vh;
    left: 25vw;
  }

  .left {
    grid-column: 1;
    background-image: url(../public/assets/bg-image.webp);
    width: 100vw;
    height: 100vh;
    margin-right: .1rem
  }

  .right {
    grid-column: 2;
    background-image: url(../public/assets/bg-image.webp);
    width: 10vw;
    height: 100vh;
    margin-right: .1rem
  }


  
  .hidden {
      display: none;
  }

  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .headerImage {
      position: absolute;
  }