@value values: "../styles/values.module.css";
@value titleFont, lineHeight, primaryColor, darkBackground, marginLarge from values;

.content {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description {
  width: 50vw;
  color: white;
  font-size: titleFont;
  line-height: lineHeight;
  text-align: center;
  margin-bottom: marginLarge;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttonDisplay {
  display: flex; 
  justify-content: center;
}

.nextButton {
  composes: button from "../styles/action.module.css";
}

.nextButton:active {
  border: .4rem solid primaryColor;
  background-color: darkBackground;
}